*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background.png);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 12px;
    height: 100vh;
}

.header-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
}

.menu {
    background-color: whitesmoke;
    letter-spacing: .1em;
    padding: 2.5em;
    position: relative;
    text-transform: uppercase;
    top: 0em;
}
.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
    text-transform: uppercase;
}

.menu a {
    color: #555;
    padding: 1em;
    text-decoration: none;
}

.menu a:hover {
    color: lightsteelblue;
    font-weight: bolder;
}

.header-title, .header-subtitle {
    text-align: center;
    color: #555;
}

.header-title{
    text-transform: uppercase;
    font-weight: bold;
}

.header-subtitle {
    font-size: .9em;
    font-weight: normal;
    letter-spacing: .1em;
    padding: 0;
}

h2 {
    color: #333;
    font-weight: bolder;
    padding: 3em;
    text-align: center;
    text-transform: uppercase;
}

.portfolio {
    background-color: lightsteelblue;
    height: 100vh;
}

.portfolio-container{
    align-items: center;
    display: flex;
    justify-content: center;
}

.portfolio-img{
    width: 100%;
}

figcaption{
    font-weight: bold;
    text-align: center;

}

@media (min-width:500px) {
    .header-title{
        font-size: 3em;
    }

    .header-subtitle {
        font-size: 1.1em;
    }
}

@media (min-width:900px) {
    .header-title{
        font-size: 3.5em;
    }

    .header-subtitle {
        font-size: 1.5em;
    }
}