* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/background.png);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 12px;
    height: 100vh;
}

h2 {
    padding-top: 2.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.menu {
    padding: 2.5em;
    top: 0em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
    background-color: whitesmoke;
}

.menu ul {
    display: flex;
    justify-content: center;
}

.menu li {
    list-style: none;
}

.menu a {
    padding: 1em;
    text-decoration: none;
    color: #555;
}

.menu a:hover {
    font-weight: bolder;
    color: lightsteelblue;
}

.header-title, .header-subtitle {
    text-align: center;
    color: #555;
}

.header-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.header-subtitle {
    padding: 0;
    font-family: 'Inconsolata', monospace;
    font-size: .9em;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: lowercase;
}

.projetos {
    height: 210vh;
    background-color: lightsteelblue;

}

.projetos-grid{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 190vh;
}

.projetos-figure {
    text-align: center;
  }

.projetos-img{
    height: 250px;
    width: 90%;
    object-fit: cover;
}

.projetos-caption{
    width: 90%;
    margin: 0 5%;
    padding: 2em;
    opacity: 70%;
    justify-content: center;
    background-color: whitesmoke;
}

@media (min-width:500px) {
    .header-title{
        font-size: 3em;
    }

    .header-subtitle {
        font-size: 1.1em;
    }
}

@media (min-width:900px) {
    .header-title{
        font-size: 3.5em;
    }

    .header-subtitle {
        font-size: 1.5em;
    }

    .projetos {
        height: 100vh;
    }
    .projetos-grid {
        grid-template-columns: repeat(3, 30%);
        gap: 1em;
        height: 80vh;
    }
}